@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Servicios Más Frecuentes (HU0505)</h2>

<form asp-action="ServiciosFrecuentes" method="get" class="row mb-4">
    <div class="col-md-3">
        <label>Desde</label>
        <input type="date" name="desde" value="@ViewBag.Desde" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>Hasta</label>
        <input type="date" name="hasta" value="@ViewBag.Hasta" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>Top N</label>
        <select name="top" class="form-select">
            <option value="1" selected>Top 1</option>
            <option value="5">Top 5</option>
            <option value="10">Top 10</option>
        </select>
    </div>
    <div class="col-md-3 d-flex align-items-end">
        <button class="btn btn-primary">Consultar</button>
    </div>
</form>

<div class="row">
    @{
        int posicion = 1;
        foreach (var item in ViewBag.ServiciosFrecuentes)
        {
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>#@posicion - @item.TipoServicio</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Cantidad:</strong> @item.Cantidad servicios</p>
                        <p><strong>Precio Promedio:</strong> $@item.PrecioPromedio.ToString("N2")</p>
                    </div>
                </div>
            </div>
            posicion++;
        }
    }
</div>